
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.basket-pop-up-ehX {
  height: 500rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .auto-group-nqd7-NNd {
    width: 137.9rem;
    height: 77.7rem;
    position: absolute;
    left: 6.6rem;
    top: 25.1rem;
    display: flex;
    align-items: flex-start;

    .auto-group-9m8d-63j {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 9.4rem;
      row-gap: 1.7rem;

      .grilled-chicken-D8M {
        text-decoration-line: underline;
        font-family: Visby CF, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        white-space: nowrap;
      }
      .pizzas-KhB {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
      }
      .fried-chicken-4uf {
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
      }
      .vegetarian-p89 {
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .burgers-ZLd {
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
      }
      .wraps-Vk5 {
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
      }
      .mixed-grill-r4q {
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
      }
      .fresh-naan-PqT {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
      }
      .value-box-kAD {
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
      }
      .kids-meals-VNh {
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
      }
      .sides-ciD {
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
      }
      .drinks-ZNZ {
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-zz9p-W2u {
      position: relative;
      flex-shrink: 0;
      margin-top: 0.6rem;
      width: 115.1rem;
      height: 77.1rem;

      .rectangle-71-aoT {
        position: absolute;
        left: 0;
        top: 55.1rem;
        border: solid 0.5rem #f4f3f3;
        box-sizing: border-box;
        border-radius: 1rem;
        width: 115.1rem;
        height: 9.9rem;
      }
      .rectangle-72-uKw {
        height: 9.9rem;
        position: absolute;
        left: 0;
        top: 67.2rem;
        border: solid 0.5rem #f4f3f3;
        box-sizing: border-box;
        border-radius: 1rem;
        width: 115.1rem;
      }
      .rectangle-70-END {
        top: 43rem;
        background-color: #000000;
        border-radius: 1rem;
        width: 115.1rem;
        height: 9.9rem;
        position: absolute;
        left: 0;
      }
      .peri-peri-chicken-y4u {
        height: 2.9rem;
        top: 6.6rem;
        font-size: 4rem;
        line-height: 0.725;
        color: #000000;
        width: 29.8rem;
        position: absolute;
        left: 0;
        display: flex;
        font-weight: 700;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-449-5Nq {
        white-space: nowrap;
        width: 7rem;
        height: 2.9rem;
        position: absolute;
        display: flex;
        line-height: 0.9666666667;
        font-family: Visby CF, 'Source Sans Pro';
        left: 0;
        top: 12.3rem;
        font-size: 3rem;
        font-weight: 600;
        color: #000000;
      }
      .x-pearls-classic-peri-peri-chicken-wings-yz1 {
        width: 43.7rem;
        top: 18rem;
        display: flex;
        font-size: 2.5rem;
        line-height: 1.16;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.9rem;
        position: absolute;
        left: 0.3rem;
        font-weight: 600;
        color: #8b8f8f;
      }
      .rectangle-45-spV {
        position: absolute;
        left: 0;
        top: 29.4rem;
        background-color: #f4f3f3;
        border-radius: 1rem;
        width: 115.1rem;
        height: 11.4rem;
      }
      .select-size-Crm {
        position: absolute;
        top: 31.5rem;
        font-size: 3rem;
        line-height: 0.9666666667;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        width: 14.2rem;
        left: 3.8rem;
        display: flex;
        font-weight: 700;
        color: #000000;
        height: 2.9rem;
      }
      .peri-peri-chicken-XPF {
        height: 2.9rem;
        position: absolute;
        left: 3.8rem;
        line-height: 0.9666666667;
        color: #ffffff;
        font-family: Visby CF, 'Source Sans Pro';
        width: 27.2rem;
        top: 46.5rem;
        display: flex;
        font-size: 3rem;
        font-weight: 700;
        white-space: nowrap;
      }
      .item-200-RjX {
        height: 2.9rem;
        position: absolute;
        left: 68.9rem;
        top: 58.6rem;
        display: flex;
        font-size: 3rem;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        width: 8.9rem;
        line-height: 0.9666666667;
        font-family: Visby CF, 'Source Sans Pro';
      }
      .item-400-uub {
        color: #000000;
        width: 8.9rem;
        height: 2.9rem;
        position: absolute;
        left: 68.9rem;
        top: 70.7rem;
        display: flex;
        font-weight: 700;
        font-family: Visby CF, 'Source Sans Pro';
        font-size: 3rem;
        line-height: 0.9666666667;
        white-space: nowrap;
      }
      .peri-peri-chicken-ok5 {
        width: 27.2rem;
        left: 3.8rem;
        display: flex;
        font-size: 3rem;
        font-weight: 700;
        color: #000000;
        height: 2.9rem;
        position: absolute;
        top: 58.6rem;
        line-height: 0.9666666667;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
      }
      .full-peri-peri-chicken-ic9 {
        height: 2.9rem;
        position: absolute;
        left: 3.7rem;
        font-size: 3rem;
        font-weight: 700;
        white-space: nowrap;
        width: 27.9rem;
        top: 70.7rem;
        display: flex;
        line-height: 0.9666666667;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
      }
      .required-qAy {
        height: 2.9rem;
        left: 3.8rem;
        line-height: 1.16;
        color: #e59030;
        white-space: nowrap;
        width: 10.1rem;
        position: absolute;
        top: 35.9rem;
        display: flex;
        font-size: 2.5rem;
        font-weight: 700;
        font-family: Visby CF, 'Source Sans Pro';
      }
      .vector-9SZ {
        top: 46.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2rem;
        position: absolute;
        left: 107.1rem;
      }
      .image-19-ghP {
        vertical-align: top;
        border-radius: 1rem;
        width: 29rem;
        height: 20.3rem;
        position: absolute;
        left: 86.1rem;
        top: 3.6rem;
        object-fit: cover;
      }
      .rectangle-85-Cvd {
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1000000015);
        background-color: #ffffff;
        border-radius: 1rem;
        width: 53.5rem;
        height: 77.1rem;
        position: absolute;
        left: 61.6rem;
        top: 0;
      }
      .x-ity {
        width: 1.75rem;
        height: 1.75rem;
        position: absolute;
        left: 65.975rem;
        top: 3.575rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-88-f3X {
        background-color: #000000;
        border-radius: 1rem;
        width: 44.7rem;
        height: 6rem;
        position: absolute;
        left: 66rem;
        top: 68.2rem;
      }
      .go-to-checkout-zLh {
        justify-content: center;
        line-height: 1.16;
        width: 16.5rem;
        display: flex;
        height: 2.9rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        font-size: 2.5rem;
        top: 69.7rem;
        position: absolute;
        left: 73.55rem;
      }
      .item-998-Hah {
        font-size: 2.5rem;
        position: absolute;
        justify-content: center;
        height: 2.9rem;
        align-items: center;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        left: 97.9rem;
        top: 69.7rem;
        display: flex;
        font-weight: 700;
        line-height: 1.16;
        color: #ffffff;
        width: 6.1rem;
      }
      .ellipse-50-n1f {
        width: 0.7rem;
        height: 0.7rem;
        position: absolute;
        left: 94rem;
        top: 71.2rem;
        background-color: #ffffff;
        border-radius: 0.35rem;
      }
      .select-meal-6o3 {
        font-size: 2rem;
        font-weight: 600;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        width: 9.8rem;
        top: 39.2rem;
        left: 75.9rem;
        display: flex;
        line-height: 1.45;
        color: #000000;
        height: 2.9rem;
        position: absolute;
      }
      .single-cWV {
        display: flex;
        font-weight: 600;
        white-space: nowrap;
        width: 5.4rem;
        left: 75.9rem;
        top: 43.2rem;
        line-height: 1.45;
        color: #7a7b7b;
        font-family: Visby CF, 'Source Sans Pro';
        height: 2.9rem;
        position: absolute;
        font-size: 2rem;
      }
      .pearls-peri-peri-XNZ {
        width: 24rem;
        height: 3rem;
        position: absolute;
        line-height: 0.8285714286;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        left: 66rem;
        top: 9.65rem;
        display: flex;
        font-size: 3.5rem;
        font-weight: 800;
        white-space: nowrap;
      }
      .peri-peri-chicken-3Lu {
        position: absolute;
        top: 18.7rem;
        font-size: 2.5rem;
        font-weight: 700;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        width: 18.7rem;
        height: 2.9rem;
        left: 75.9rem;
        display: flex;
        line-height: 1.16;
      }
      .item-998-xTs {
        top: 18.7rem;
        display: flex;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.16;
        white-space: nowrap;
        width: 6.1rem;
        height: 2.9rem;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        position: absolute;
        left: 104.5rem;
      }
      .select-size-4mo {
        position: absolute;
        top: 23.2rem;
        font-size: 2rem;
        line-height: 1.45;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        width: 9.2rem;
        height: 2.9rem;
        left: 75.9rem;
        display: flex;
        font-weight: 600;
        color: #000000;
      }
      .peri-peri-chicken-ak9 {
        top: 27.2rem;
        font-weight: 600;
        height: 2.9rem;
        position: absolute;
        display: flex;
        font-size: 2rem;
        line-height: 1.45;
        color: #7a7b7b;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        width: 18rem;
        left: 75.9rem;
      }
      .select-flavour-hZs {
        width: 12.3rem;
        height: 2.9rem;
        top: 56.2rem;
        line-height: 1.45;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 75.9rem;
        display: flex;
        font-size: 2rem;
        font-weight: 600;
        color: #000000;
      }
      .hot-1Kf {
        line-height: 1.45;
        width: 3.2rem;
        height: 2.9rem;
        position: absolute;
        display: flex;
        font-size: 2rem;
        font-weight: 600;
        left: 75.9rem;
        top: 60.2rem;
        color: #7a7b7b;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
      }
      .select-flavour-Kr9 {
        line-height: 1.45;
        white-space: nowrap;
        position: absolute;
        left: 75.9rem;
        top: 31.2rem;
        font-size: 2rem;
        font-weight: 600;
        width: 12.3rem;
        height: 2.9rem;
        display: flex;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
      }
      .hot-Ey7 {
        font-weight: 600;
        line-height: 1.45;
        color: #7a7b7b;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        width: 3.2rem;
        height: 2.9rem;
        font-size: 2rem;
        display: flex;
        position: absolute;
        left: 75.9rem;
        top: 35.2rem;
      }
      .rectangle-86-ALy {
        border-radius: 1rem;
        width: 6rem;
        height: 4.5rem;
        position: absolute;
        left: 66rem;
        top: 17.9rem;
        background-color: #000000;
      }
      .vector-Ve9 {
        width: 1.2rem;
        height: 0.6rem;
        position: absolute;
        left: 69.5rem;
        top: 20.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .item-2-qCD {
        line-height: 1.3;
        font-family: Visby CF, 'Source Sans Pro';
        height: 3.3rem;
        top: 18.45rem;
        font-size: 2.5rem;
        display: flex;
        font-weight: 700;
        color: #ffffff;
        white-space: nowrap;
        width: 1.4rem;
        position: absolute;
        left: 67.2rem;
      }
      .wings-8SD {
        width: 6.6rem;
        display: flex;
        font-size: 2.5rem;
        font-family: Visby CF, 'Source Sans Pro';
        font-weight: 700;
        line-height: 1.16;
        color: #000000;
        white-space: nowrap;
        height: 2.9rem;
        position: absolute;
        left: 75.9rem;
        top: 51.6rem;
      }
      .item-449-e9f {
        white-space: nowrap;
        position: absolute;
        top: 51.6rem;
        display: flex;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.16;
        font-family: Visby CF, 'Source Sans Pro';
        width: 6.1rem;
        height: 2.9rem;
        left: 104.5rem;
        color: #000000;
      }
      .rectangle-87-xAM {
        border-radius: 1rem;
        width: 6rem;
        height: 4.5rem;
        position: absolute;
        left: 66rem;
        top: 50.8rem;
        background-color: #000000;
      }
      .vector-gc9 {
        top: 53rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.2rem;
        height: 0.6rem;
        position: absolute;
        left: 69.5rem;
      }
      .item-1-pTT {
        height: 3.3rem;
        position: absolute;
        top: 51.35rem;
        font-weight: 700;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.4rem;
        left: 67.2rem;
        display: flex;
        font-size: 2.5rem;
        line-height: 1.3;
        color: #ffffff;
      }
    }
  }
  .copyrighter-section-8DF {
    flex-direction: column;
    width: 115.4rem;
    height: 37.9rem;
    position: absolute;
    left: 17.9rem;
    top: 457.3rem;
    align-items: center;
    display: flex;

    .auto-group-pnem-SUq {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0rem 3.9rem 0.2rem;
      height: 27.6rem;

      .group-9-xi5 {
        flex-shrink: 0;
        margin-right: 18.1rem;
        width: 16.5rem;
        height: 100%;
        position: relative;

        .order-about-us-contact-us-main-dishes-suggest-a-restaurant-locations-hff {
          left: 0;
          top: 3.6rem;
          font-size: 1.6rem;
          font-weight: 400;
          color: #5c6574;
          height: 24rem;
          position: absolute;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
          width: 16.5rem;
          line-height: 2.5;
        }
        .navigation-mvR {
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 3.3333333333;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 7.7rem;
          height: 4rem;
          position: absolute;
          left: 0;
          top: 0;
          text-transform: uppercase;
          color: #101a24;
        }
      }
      .group-12-Hds {
        margin-right: 18.3rem;
        width: 15.7rem;
        height: 23.6rem;
        position: relative;
        flex-shrink: 0;

        .partner-centre-partner-accessories-shop-support-tickets-add-your-restaurant-Rk5 {
          width: 15.7rem;
          position: absolute;
          top: 3.6rem;
          font-size: 1.6rem;
          height: 20rem;
          left: 0;
          font-weight: 400;
          line-height: 2.5;
          text-transform: capitalize;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
        }
        .partners-resellers-7so {
          width: 14.5rem;
          position: absolute;
          left: 0;
          font-weight: 700;
          color: #101a24;
          white-space: nowrap;
          height: 4rem;
          top: 0;
          font-size: 1.2rem;
          line-height: 3.3333333333;
          text-transform: uppercase;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .group-10-dr9 {
        position: relative;
        flex-shrink: 0;
        margin-right: 18.1rem;
        width: 16.5rem;
        height: 100%;

        .privacy-policy-cookie-policy-info-for-restaurants-faq-get-help-important-documents-PaR {
          left: 0;
          font-size: 1.6rem;
          text-transform: capitalize;
          color: #5c6574;
          width: 16.5rem;
          height: 24rem;
          position: absolute;
          top: 3.6rem;
          font-weight: 400;
          line-height: 2.5;
          font-family: Inter, 'Source Sans Pro';
        }
        .support-sVb {
          width: 5.8rem;
          height: 4rem;
          position: absolute;
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: uppercase;
          color: #101a24;
          left: 0;
          top: 0;
          line-height: 3.3333333333;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-11-CGy {
        width: 12rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .follow-us-9T7 {
          text-transform: uppercase;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.2rem 0rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 3.3333333333;
          color: #101a24;
          white-space: nowrap;
        }
        .auto-group-opft-rcR {
          width: 100%;
          display: flex;
          column-gap: 1.6rem;
          align-items: center;
          flex-shrink: 0;

          .facebook-f-ba1 {
            width: 2.5rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
          }
          .instagram-LGh {
            width: 3.3rem;
            height: 3.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .twitter-t3K {
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .line-2-1td {
      height: 0.1rem;
      background-color: rgba(16, 26, 36, 0.1000000015);
      flex-shrink: 0;
      margin: 0rem 0.2rem 3.4rem 0rem;
      width: 115.2rem;
    }
    .auto-group-pghf-8iM {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.1rem 0rem 0.2rem;
      width: calc(100% - 0.3rem);
      height: 2.9rem;
      display: flex;

      .copyright-Fny {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 55.6rem;

        .copyright-symbol-svgrepo-com-1-cNd {
          margin: 0.2rem 1rem 0rem 0rem;
          width: 1.3rem;
          height: 1.2999rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tiffintom-ltd-all-rights-reserved-veD {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .terms-of-service-privacy-policy-eKK {
        font-weight: 400;
        line-height: 1.8125;
        color: #5c6574;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
  }
  .auto-group-mfpx-Nm7 {
    height: 6.6rem;
    position: absolute;
    left: 5.9rem;
    top: 5.6rem;
    display: flex;
    align-items: flex-end;
    width: 138.6rem;

    .navigation-icon-Vaq {
      margin-right: 3.4rem;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1.5rem 0.65rem;
      row-gap: 1.5rem;
      align-items: center;
      border: solid 0 #000000;
      flex-shrink: 0;

      .vector-btm {
        flex-shrink: 0;
        width: 3.9rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-Yp1 {
        width: 3.9rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-JoB {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 3.9rem;
        height: 0;
      }
    }
    .tiffiniconwhite-2-TRB {
      flex-shrink: 0;
      margin: 0rem 10.4rem 0.1rem 0rem;
      width: 4.5rem;
      height: 6.5rem;
      position: relative;
      background-size: 236.308% 293.763%;
      background-position: -0rem -11.5183rem;
      background-image: url('REPLACE_IMAGE:53a2c0c3a37908dd2edf904ec01e88c777ff9c21');
    }
    .auto-group-x8rd-937 {
      padding: 1.4rem 3.35rem 1.3rem 2.9rem;
      display: flex;
      align-items: center;
      background-color: #f4f3f3;
      border-radius: 3rem;
      flex-shrink: 0;
      margin: 0.8rem 5.1rem 0rem 0rem;
      box-sizing: border-box;

      .map-pin-FM3 {
        height: 2.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 2.25rem 0rem 0rem;
        width: 1.8rem;
      }
      .ws1-4ba-aPK {
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        line-height: 1.45;
        flex-shrink: 0;
        justify-content: center;
      }
    }
    .auto-group-ff5s-HoX {
      padding: 1.4rem 3.95rem 1.3rem 2.6rem;
      display: flex;
      align-items: center;
      background-color: #f4f3f3;
      border-radius: 3rem;
      flex-shrink: 0;
      margin: 0.8rem 26.6rem 0rem 0rem;
      box-sizing: border-box;

      .search-CQh {
        flex-shrink: 0;
        margin: 0.1rem 2.85rem 0rem 0rem;
        width: 1.8rem;
        height: 1.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .search-restaurant-or-cuisine-KVK {
        font-size: 1.8rem;
        color: #8b8f8f;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        line-height: 1.6111111111;
        font-family: Visby CF, 'Source Sans Pro';
      }
    }
    .log-in-button-D4u {
      padding: 1.2rem 3.1rem 1.5rem 1.825rem;
      display: flex;
      align-items: center;
      background-color: #f4f3f3;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0.8rem 2rem 0rem 0rem;
      box-sizing: border-box;

      .person-1-j3F {
        margin: 0.3rem 3.225rem 0rem 0rem;
        width: 1.75rem;
        height: 2.25rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .log-in-45X {
        align-items: center;
        font-weight: 600;
        line-height: 1.45;
        font-family: Visby CF, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        color: #000000;
        white-space: nowrap;
      }
    }
    .sign-up-button-yiH {
      background-color: #f4f3f3;
      border-radius: 1rem;
      flex-shrink: 0;
      margin-top: 0.8rem;
      box-sizing: border-box;
      padding: 1.2rem 2.55rem 1.1rem 1.2rem;
      display: flex;
      align-items: center;

      .chevron-up-6nu {
        margin-right: 1.8025rem;
        width: 2.8475rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .sign-up-dnq {
        font-weight: 600;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        line-height: 1.45;
      }
    }
  }
  .quantity-wHj {
    font-size: 3rem;
    color: #000000;
    white-space: nowrap;
    height: 2.9rem;
    left: 81rem;
    top: 240.4rem;
    font-weight: 600;
    line-height: 0.9666666667;
    font-family: Visby CF, 'Source Sans Pro';
    width: 11.4rem;
    position: absolute;
    display: flex;
  }
  .auto-group-ybtd-3rZ {
    top: 18rem;
    display: flex;
    align-items: center;
    width: 137.9rem;
    height: 5.6rem;
    position: absolute;
    left: 6.6rem;

    .auto-group-kbm3-P9j {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.4rem 65.7rem 1.3rem 0rem;

      .menu-iSu {
        margin-right: 16.9rem;
        display: flex;
        line-height: 1.16;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 800;
        font-family: Visby CF, 'Source Sans Pro';
      }
      .back-arrow-Sth {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.483rem 2.2rem 0rem 0rem;
        width: 3.2rem;
        height: 1.9833rem;
        position: relative;
        object-fit: contain;
      }
      .back-to-menu-Aph {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.16;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .log-in-button-tEu {
      background-color: #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      border-radius: 3rem;
      box-sizing: border-box;
      padding: 1.3rem 2.2rem 1.3rem 2.313rem;
      height: 100%;
      display: flex;
      align-items: center;

      .shopping-cart-oMs {
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 1.976rem 0rem 0rem;
        width: 2.4769rem;
      }
      .basket-vSV {
        color: #ffffff;
        margin: 0rem 1.235rem 0.1rem 0rem;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        line-height: 1.45;
        display: flex;
        font-size: 2rem;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .ellipse-15-qJZ {
        margin: 0.6rem 1.3rem 0rem 0rem;
        width: 0.4rem;
        height: 0.4rem;
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.2rem;
        flex-shrink: 0;
      }
      .item-4-juj {
        flex-shrink: 0;
        margin: 0.1rem 1.3rem 0rem 0rem;
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 600;
        color: #ffffff;
        font-family: Visby CF, 'Source Sans Pro';
        justify-content: center;
        line-height: 1.45;
        white-space: nowrap;
      }
      .ellipse-49-rDf {
        width: 0.4rem;
        height: 0.4rem;
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.2rem;
        flex-shrink: 0;
        margin: 0.6rem 1.4rem 0rem 0rem;
      }
      .item-1496-xXb {
        flex-shrink: 0;
        margin-top: 0.1rem;
        display: flex;
        justify-content: center;
        font-weight: 600;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        font-size: 2rem;
        line-height: 1.45;
        color: #ffffff;
      }
    }
  }
  .auto-group-bnbb-EV7 {
    height: 3.25rem;
    position: absolute;
    left: 80.6rem;
    top: 246.75rem;
    display: flex;
    column-gap: 2.2rem;
    align-items: flex-start;
    width: 12.7rem;

    .auto-group-meev-xAD {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.05rem;
      width: 3.2rem;
      height: 3.2rem;
      object-fit: contain;
    }
    .item-2-5Vj {
      font-family: Visby CF, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 0.8285714286;
      color: #000000;
      white-space: nowrap;
    }
    .auto-group-pqtz-oRj {
      width: 3.2rem;
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.05rem;
    }
  }
  .auto-group-waau-wH3 {
    border: solid 0.5rem #f4f3f3;
    border-radius: 1rem;
    width: 115.1rem;
    left: 29.4rem;
    height: 9.9rem;
    position: absolute;
    top: 226.5rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 3.5rem 37.3rem 3.5rem 3.8rem;

    .meal-qdK {
      margin-right: 58.8rem;
      display: flex;
      font-size: 3rem;
      color: #000000;
      font-weight: 700;
      line-height: 0.9666666667;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item-249-BBP {
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
    }
  }
  .auto-group-c425-J17 {
    top: 214.4rem;
    display: flex;
    background-color: #000000;
    box-sizing: border-box;
    padding: 3.5rem 4.6rem 3.5rem 3.8rem;
    width: 115.1rem;
    height: 9.9rem;
    position: absolute;
    left: 29.4rem;
    align-items: center;
    border-radius: 1rem;

    .single-Bqb {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
      color: #ffffff;
      font-family: Visby CF, 'Source Sans Pro';
      margin-right: 95.4rem;
      display: flex;
    }
    .vector-KB7 {
      margin-top: 0.1rem;
      width: 3rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-wz5k-qv9 {
    border-radius: 1rem;
    width: 115.1rem;
    height: 11.4rem;
    position: absolute;
    top: 200.8rem;
    box-sizing: border-box;
    padding: 2.1rem 3.8rem 2rem 3.8rem;
    left: 29.4rem;
    background-color: #f4f3f3;

    .select-meal-knD {
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.5rem;
      display: flex;
    }
    .required-ttR {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.16;
      color: #e59030;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
    }
  }
  .auto-group-mpub-DQu {
    padding: 3.5rem 3.8rem;
    top: 135.5rem;
    font-size: 3rem;
    left: 29.4rem;
    font-weight: 700;
    white-space: nowrap;
    position: absolute;
    display: flex;
    line-height: 0.9666666667;
    color: #000000;
    box-sizing: border-box;
    width: 115.1rem;
    height: 9.9rem;
    font-family: Visby CF, 'Source Sans Pro';
    border: solid 0.5rem #f4f3f3;
    border-radius: 1rem;
  }
  .auto-group-yhfp-5i1 {
    font-size: 3rem;
    border: solid 0.5rem #f4f3f3;
    padding: 3.5rem 3.7rem;
    position: absolute;
    border-radius: 1rem;
    font-weight: 700;
    line-height: 0.9666666667;
    font-family: Visby CF, 'Source Sans Pro';
    white-space: nowrap;
    box-sizing: border-box;
    width: 115.1rem;
    top: 147.6rem;
    color: #000000;
    height: 9.9rem;
    left: 29.4rem;
    display: flex;
  }
  .auto-group-m6qh-kZF {
    height: 9.9rem;
    top: 123.4rem;
    font-size: 3rem;
    font-family: Visby CF, 'Source Sans Pro';
    left: 29.4rem;
    display: flex;
    color: #000000;
    position: absolute;
    line-height: 0.9666666667;
    white-space: nowrap;
    border: solid 0.5rem #f4f3f3;
    box-sizing: border-box;
    padding: 3.5rem 3.8rem;
    width: 115.1rem;
    font-weight: 700;
    border-radius: 1rem;
  }
  .auto-group-w2vd-R9b {
    position: absolute;
    background-color: #f4f3f3;
    border-radius: 1rem;
    box-sizing: border-box;
    width: 115.1rem;
    height: 11.4rem;
    padding: 2.1rem 3.8rem 2rem 3.8rem;
    left: 29.4rem;
    top: 109.8rem;

    .select-flavour-vMF {
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.5rem;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
      color: #000000;
    }
    .required-f3w {
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.16;
      color: #e59030;
    }
  }
  .auto-group-xw7o-BHB {
    width: 65rem;
    top: 255.7rem;
    align-items: center;
    background-color: #000000;
    box-sizing: border-box;
    padding: 4.15rem 12.8rem 4.25rem 12.6rem;
    height: 11.4rem;
    position: absolute;
    left: 54.5rem;
    display: flex;
    border-radius: 1rem;

    .add-2-to-order-GpR {
      margin-right: 5.1rem;
      display: flex;
      font-size: 3.5rem;
      font-family: Visby CF, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 700;
      line-height: 0.8285714286;
      color: #ffffff;
      white-space: nowrap;
    }
    .ellipse-27-CTB {
      margin: 1.1rem 3.3rem 0rem 0rem;
      width: 1rem;
      height: 1rem;
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;
    }
    .item-998-iwK {
      line-height: 0.8285714286;
      color: #ffffff;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3.5rem;
      font-weight: 700;
    }
  }
  .auto-group-scs3-ea5 {
    padding: 3.5rem 4.6rem 3.5rem 3.8rem;
    width: 115.1rem;
    position: absolute;
    left: 29.4rem;
    top: 159.7rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 9.9rem;
    background-color: #000000;
    border-radius: 1rem;

    .hot-MUV {
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
      font-family: Visby CF, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 98.9rem;
      color: #ffffff;
      white-space: nowrap;
    }
    .vector-Vah {
      margin-top: 0.1rem;
      width: 3rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-cjv5-2ad {
    height: 9.9rem;
    font-weight: 700;
    white-space: nowrap;
    box-sizing: border-box;
    top: 171.8rem;
    color: #000000;
    font-family: Visby CF, 'Source Sans Pro';
    border: solid 0.5rem #f4f3f3;
    padding: 3.5rem 3.7rem;
    position: absolute;
    left: 29.4rem;
    display: flex;
    font-size: 3rem;
    line-height: 0.9666666667;
    border-radius: 1rem;
    width: 115.1rem;
  }
  .auto-group-hptr-QbB {
    font-size: 3rem;
    font-family: Visby CF, 'Source Sans Pro';
    height: 9.9rem;
    position: absolute;
    left: 29.4rem;
    line-height: 0.9666666667;
    white-space: nowrap;
    border: solid 0.5rem #f4f3f3;
    border-radius: 1rem;
    width: 115.1rem;
    padding: 3.5rem 3.7rem;
    font-weight: 700;
    color: #000000;
    box-sizing: border-box;
    display: flex;
    top: 183.9rem;
  }
}
