
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.item-options-2-Ls3 {
  width: 100%;
  height: 500rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-kqph-rKb {
    box-sizing: border-box;
    width: 115.1rem;
    height: 9.9rem;
    display: flex;
    border: solid 0.5rem #f4f3f3;
    padding: 3.5rem 37.3rem 3.5rem 3.8rem;
    position: absolute;
    left: 29.4rem;
    top: 80.8rem;
    align-items: center;
    border-radius: 1rem;

    .peri-peri-chicken-jeH {
      display: flex;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 0.9666666667;
      color: #000000;
      flex-shrink: 0;
      margin-right: 37.9rem;
      font-size: 3rem;
      font-weight: 700;
    }
    .item-200-qBX {
      line-height: 0.9666666667;
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
    }
  }
  .auto-group-hgbb-XKF {
    display: flex;
    align-items: center;
    border: solid 0.5rem #f4f3f3;
    padding: 3.5rem 37.3rem 3.5rem 3.7rem;
    width: 115.1rem;
    height: 9.9rem;
    left: 29.4rem;
    box-sizing: border-box;
    position: absolute;
    top: 92.9rem;
    border-radius: 1rem;

    .full-peri-peri-chicken-R9j {
      margin-right: 37.3rem;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
      line-height: 0.9666666667;
      font-family: Visby CF, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .item-400-95j {
      line-height: 0.9666666667;
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
    }
  }
  .auto-group-yqgz-rVw {
    width: 137.9rem;
    height: 12.1rem;
    position: absolute;
    left: 6.6rem;
    top: 66.5rem;
    display: flex;
    align-items: flex-end;

    .auto-group-q1n9-mso {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 13.5rem;
      height: 100%;
      row-gap: 1.7rem;

      .kids-meals-uz1 {
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
      }
      .sides-fCV {
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .drinks-oJh {
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-kygh-8rm {
      flex-shrink: 0;
      margin-top: 2.2rem;
      box-sizing: border-box;
      padding: 3.5rem 5rem 3.5rem 3.8rem;
      display: flex;
      align-items: center;
      background-color: #000000;
      border-radius: 1rem;

      .peri-peri-chicken-TPF {
        line-height: 0.9666666667;
        font-family: Visby CF, 'Source Sans Pro';
        display: flex;
        font-size: 3rem;
        font-weight: 700;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 76.1rem;
      }
      .vector-nRX {
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 3rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .copyrighter-section-WMX {
    position: absolute;
    left: 17.9rem;
    top: 457.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 115.4rem;
    height: 37.9rem;

    .auto-group-zxs3-pt1 {
      margin: 0rem 0rem 3.9rem 0.2rem;
      height: 27.6rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .group-9-M7F {
        margin-right: 18.1rem;
        width: 16.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .order-about-us-contact-us-main-dishes-suggest-a-restaurant-locations-64q {
          left: 0;
          line-height: 2.5;
          text-transform: capitalize;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          width: 16.5rem;
          height: 24rem;
          position: absolute;
          top: 3.6rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .navigation-NY9 {
          width: 7.7rem;
          height: 4rem;
          font-size: 1.2rem;
          line-height: 3.3333333333;
          text-transform: uppercase;
          color: #101a24;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 0;
          top: 0;
          font-weight: 700;
        }
      }
      .group-12-tWV {
        width: 15.7rem;
        height: 23.6rem;
        position: relative;
        flex-shrink: 0;
        margin-right: 18.3rem;

        .partner-centre-partner-accessories-shop-support-tickets-add-your-restaurant-qAq {
          font-size: 1.6rem;
          line-height: 2.5;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          width: 15.7rem;
          height: 20rem;
          position: absolute;
          top: 3.6rem;
          left: 0;
          font-weight: 400;
          text-transform: capitalize;
        }
        .partners-resellers-Kbo {
          left: 0;
          top: 0;
          font-weight: 700;
          line-height: 3.3333333333;
          color: #101a24;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 14.5rem;
          height: 4rem;
          position: absolute;
          font-size: 1.2rem;
          text-transform: uppercase;
        }
      }
      .group-10-qq3 {
        flex-shrink: 0;
        margin-right: 18.1rem;
        width: 16.5rem;
        height: 100%;
        position: relative;

        .privacy-policy-cookie-policy-info-for-restaurants-faq-get-help-important-documents-PrZ {
          top: 3.6rem;
          font-size: 1.6rem;
          line-height: 2.5;
          color: #5c6574;
          width: 16.5rem;
          height: 24rem;
          position: absolute;
          left: 0;
          font-weight: 400;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
        }
        .support-tHX {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1.2rem;
          font-weight: 700;
          color: #101a24;
          font-family: Inter, 'Source Sans Pro';
          height: 4rem;
          line-height: 3.3333333333;
          text-transform: uppercase;
          white-space: nowrap;
          width: 5.8rem;
        }
      }
      .group-11-bBw {
        flex-shrink: 0;
        width: 12rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .follow-us-wmb {
          color: #101a24;
          white-space: nowrap;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 3.3333333333;
          text-transform: uppercase;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.2rem 0rem;
        }
        .auto-group-prvj-G3B {
          width: 100%;
          display: flex;
          column-gap: 1.6rem;
          align-items: center;
          flex-shrink: 0;

          .facebook-f-ooo {
            margin-bottom: 0.2rem;
            width: 2.5rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .instagram-LYq {
            height: 3.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.3rem;
          }
          .twitter-GSV {
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .line-2-bUm {
      margin: 0rem 0.2rem 3.4rem 0rem;
      width: 115.2rem;
      height: 0.1rem;
      background-color: rgba(16, 26, 36, 0.1000000015);
      flex-shrink: 0;
    }
    .auto-group-bjjd-KQm {
      flex-shrink: 0;
      margin: 0rem 0.1rem 0rem 0.2rem;
      width: calc(100% - 0.3rem);
      height: 2.9rem;
      display: flex;
      align-items: center;

      .copyright-dwF {
        margin-right: 55.6rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .copyright-symbol-svgrepo-com-1-np9 {
          margin: 0.2rem 1rem 0rem 0rem;
          width: 1.3rem;
          height: 1.2999rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tiffintom-ltd-all-rights-reserved-75j {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .terms-of-service-privacy-policy-q1j {
        font-weight: 400;
        line-height: 1.8125;
        color: #5c6574;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
  }
  .auto-group-dlmf-MEy {
    width: 138.6rem;
    height: 6.6rem;
    position: absolute;
    left: 5.9rem;
    top: 5.6rem;
    display: flex;
    align-items: flex-end;

    .navigation-icon-U4h {
      border: solid 0 #000000;
      margin-right: 3.4rem;
      cursor: pointer;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.5rem 0.65rem;
      position: relative;
      row-gap: 1.5rem;
      display: flex;

      .vector-Ay7 {
        flex-shrink: 0;
        width: 3.9rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-xe5 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 3.9rem;
        height: 0;
      }
      .vector-Jxq {
        width: 3.9rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .tiffiniconwhite-2-rzM {
      position: relative;
      background-size: 236.308% 293.763%;
      background-position: -0rem -11.5183rem;
      background-image: url('REPLACE_IMAGE:53a2c0c3a37908dd2edf904ec01e88c777ff9c21');
      flex-shrink: 0;
      margin: 0rem 10.4rem 0.1rem 0rem;
      width: 4.5rem;
      height: 6.5rem;
    }
    .auto-group-egcq-MAR {
      margin: 0.8rem 5.1rem 0rem 0rem;
      box-sizing: border-box;
      padding: 1.4rem 3.35rem 1.3rem 2.9rem;
      display: flex;
      align-items: center;
      background-color: #f4f3f3;
      border-radius: 3rem;
      flex-shrink: 0;

      .map-pin-rss {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 2.25rem 0rem 0rem;
        width: 1.8rem;
        height: 2.2rem;
      }
      .ws1-4ba-zUH {
        justify-content: center;
        line-height: 1.45;
        font-family: Visby CF, 'Source Sans Pro';
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-size: 2rem;
      }
    }
    .auto-group-u1f7-Jjs {
      box-sizing: border-box;
      padding: 1.4rem 3.95rem 1.3rem 2.6rem;
      display: flex;
      align-items: center;
      background-color: #f4f3f3;
      border-radius: 3rem;
      flex-shrink: 0;
      margin: 0.8rem 26.6rem 0rem 0rem;

      .search-1uB {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 2.85rem 0rem 0rem;
        width: 1.8rem;
        height: 1.8rem;
        position: relative;
      }
      .search-restaurant-or-cuisine-Y8R {
        display: flex;
        font-weight: 600;
        color: #8b8f8f;
        flex-shrink: 0;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        line-height: 1.6111111111;
        font-family: Visby CF, 'Source Sans Pro';
      }
    }
    .log-in-button-ex9 {
      align-items: center;
      background-color: #f4f3f3;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0.8rem 2rem 0rem 0rem;
      box-sizing: border-box;
      padding: 1.2rem 3.1rem 1.5rem 1.825rem;
      display: flex;

      .person-1-xhw {
        flex-shrink: 0;
        margin: 0.3rem 3.225rem 0rem 0rem;
        width: 1.75rem;
        height: 2.25rem;
        object-fit: contain;
        vertical-align: top;
      }
      .log-in-fcM {
        align-items: center;
        justify-content: center;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        display: flex;
        font-size: 2rem;
        font-weight: 600;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .sign-up-button-nS5 {
      margin-top: 0.8rem;
      box-sizing: border-box;
      padding: 1.2rem 2.55rem 1.1rem 1.2rem;
      display: flex;
      align-items: center;
      background-color: #f4f3f3;
      border-radius: 1rem;
      flex-shrink: 0;

      .chevron-up-JfK {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 1.8026rem;
        width: 2.8474rem;
        height: 3.3rem;
        object-fit: contain;
      }
      .sign-up-SFj {
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-weight: 600;
        justify-content: center;
        font-size: 2rem;
        line-height: 1.45;
        font-family: Visby CF, 'Source Sans Pro';
        display: flex;
        align-items: center;
      }
    }
  }
  .auto-group-ektq-Xny {
    width: 137.9rem;
    height: 21.7rem;
    position: absolute;
    left: 6.6rem;
    top: 29.3rem;
    display: flex;
    align-items: center;

    .auto-group-7hhb-Tgd {
      flex-shrink: 0;
      margin: 0.4rem 10.8rem 0rem 0rem;
      row-gap: 1.7rem;
      display: flex;
      flex-direction: column;

      .pizzas-BsX {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
      }
      .fried-chicken-825 {
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
      }
      .vegetarian-G8H {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
      .burgers-QVP {
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
      }
      .wraps-MfX {
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-uq6d-uBF {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3rem 42.1rem 4.4rem 0rem;
      height: calc(100% - 7.4rem);
      row-gap: 2.8rem;

      .peri-peri-chicken-d7F {
        line-height: 0.725;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 4rem;
        font-weight: 700;
      }
      .item-449-mDT {
        font-weight: 600;
        line-height: 0.9666666667;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3rem;
      }
      .x-pearls-classic-peri-peri-chicken-wings-u4m {
        color: #8b8f8f;
        white-space: nowrap;
        margin-left: 0.3rem;
        font-size: 2.5rem;
        line-height: 1.16;
        flex-shrink: 0;
        display: flex;
        font-weight: 600;
        font-family: Visby CF, 'Source Sans Pro';
      }
    }
    .image-19-QXK {
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      width: 29rem;
      height: 20.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1rem;
    }
  }
  .quantity-LQy {
    position: absolute;
    left: 81rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: Visby CF, 'Source Sans Pro';
    width: 11.4rem;
    height: 2.9rem;
    top: 240.4rem;
    display: flex;
    line-height: 0.9666666667;
    color: #000000;
    white-space: nowrap;
  }
  .auto-group-3zvq-3aH {
    left: 6.6rem;
    top: 18rem;
    display: flex;
    align-items: center;
    width: 137.9rem;
    height: 5.6rem;
    position: absolute;

    .auto-group-xxxy-nGy {
      padding: 1.4rem 65.7rem 1.3rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;

      .menu-usP {
        margin-right: 16.9rem;
        display: flex;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 1.16;
        white-space: nowrap;
      }
      .back-arrow-qW9 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.483rem 2.2rem 0rem 0rem;
        width: 3.2rem;
        height: 1.9833rem;
        position: relative;
      }
      .back-to-menu-xKs {
        font-weight: 600;
        line-height: 1.16;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2.5rem;
      }
    }
    .log-in-button-hHT {
      box-sizing: border-box;
      padding: 1.3rem 2.2rem 1.3rem 2.313rem;
      height: 100%;
      display: flex;
      background-color: #000000;
      align-items: center;
      border-radius: 3rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .shopping-cart-cfK {
        flex-shrink: 0;
        margin: 0.1rem 1.976rem 0rem 0rem;
        width: 2.4768rem;
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .basket-LLR {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.45;
        font-family: Visby CF, 'Source Sans Pro';
        margin: 0rem 1.235rem 0.1rem 0rem;
        white-space: nowrap;
        flex-shrink: 0;
        color: #ffffff;
      }
      .ellipse-15-41X {
        flex-shrink: 0;
        margin: 0.6rem 1.3rem 0rem 0rem;
        width: 0.4rem;
        height: 0.4rem;
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.2rem;
      }
      .item-4-xch {
        display: flex;
        font-family: Visby CF, 'Source Sans Pro';
        flex-shrink: 0;
        line-height: 1.45;
        color: #ffffff;
        white-space: nowrap;
        margin: 0.1rem 1.3rem 0rem 0rem;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 600;
      }
      .ellipse-49-UL9 {
        flex-shrink: 0;
        margin: 0.6rem 1.4rem 0rem 0rem;
        width: 0.4rem;
        height: 0.4rem;
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.2rem;
      }
      .item-1496-NRX {
        margin-top: 0.1rem;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.45;
        color: #ffffff;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-cvtr-SwB {
    top: 246.75rem;
    display: flex;
    column-gap: 2.2rem;
    align-items: flex-start;
    width: 12.7rem;
    height: 3.25rem;
    position: absolute;
    left: 80.6rem;

    .auto-group-l2am-toB {
      margin-top: 0.05rem;
      width: 3.2rem;
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item-2-pgq {
      justify-content: center;
      flex-shrink: 0;
      display: flex;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 0.8285714286;
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
    }
    .auto-group-epgd-9z1 {
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.05rem;
      width: 3.2rem;
    }
  }
  .auto-group-gzq7-6PT {
    height: 13.8rem;
    position: absolute;
    left: 6.6rem;
    top: 52.7rem;
    display: flex;
    align-items: flex-end;
    width: 137.9rem;

    .auto-group-cpp9-2H7 {
      flex-shrink: 0;
      margin: 0rem 12.9rem 1.7rem 0rem;
      row-gap: 1.7rem;
      display: flex;
      flex-direction: column;

      .mixed-grill-9cd {
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .fresh-naan-Hiq {
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
      }
      .value-box-Rq3 {
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
      }
    }
    .auto-group-mxqz-yLm {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.1rem 3.8rem 2rem 3.8rem;
      width: 115.1rem;
      background-color: #f4f3f3;
      border-radius: 1rem;

      .select-size-6RP {
        line-height: 0.9666666667;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        display: flex;
        font-size: 3rem;
        font-weight: 700;
      }
      .required-RyT {
        display: flex;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.16;
        color: #e59030;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-uqc5-kkq {
    position: absolute;
    left: 29.4rem;
    top: 226.5rem;
    align-items: center;
    border: solid 0.5rem #f4f3f3;
    width: 115.1rem;
    height: 9.9rem;
    display: flex;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 3.5rem 37.3rem 3.5rem 3.8rem;

    .meal-TQM {
      display: flex;
      font-weight: 700;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 58.8rem;
      font-size: 3rem;
      line-height: 0.9666666667;
      color: #000000;
      flex-shrink: 0;
    }
    .item-249-mvq {
      font-weight: 700;
      line-height: 0.9666666667;
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3rem;
    }
  }
  .auto-group-hxrh-h3o {
    background-color: #000000;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 3.5rem 4.6rem 3.5rem 3.8rem;
    width: 115.1rem;
    height: 9.9rem;
    left: 29.4rem;
    display: flex;
    position: absolute;
    top: 214.4rem;
    align-items: center;

    .single-PxD {
      margin-right: 95.4rem;
      font-size: 3rem;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-weight: 700;
      line-height: 0.9666666667;
      color: #ffffff;
    }
    .vector-8eu {
      margin-top: 0.1rem;
      width: 3rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-e3gd-GFK {
    left: 29.4rem;
    top: 200.8rem;
    box-sizing: border-box;
    height: 11.4rem;
    position: absolute;
    border-radius: 1rem;
    padding: 2.1rem 3.8rem 2rem 3.8rem;
    width: 115.1rem;
    background-color: #f4f3f3;

    .select-meal-Np9 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.5rem;
      display: flex;
    }
    .required-7Fw {
      font-weight: 700;
      line-height: 1.16;
      color: #e59030;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-size: 2.5rem;
    }
  }
  .auto-group-uktp-qBw {
    box-sizing: border-box;
    padding: 3.5rem 3.8rem;
    left: 29.4rem;
    white-space: nowrap;
    height: 9.9rem;
    position: absolute;
    line-height: 0.9666666667;
    font-family: Visby CF, 'Source Sans Pro';
    top: 135.5rem;
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    width: 115.1rem;
    color: #000000;
    border: solid 0.5rem #f4f3f3;
    border-radius: 1rem;
  }
  .auto-group-g2mo-tR7 {
    position: absolute;
    height: 9.9rem;
    left: 29.4rem;
    font-weight: 700;
    line-height: 0.9666666667;
    font-family: Visby CF, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.5rem #f4f3f3;
    box-sizing: border-box;
    top: 147.6rem;
    display: flex;
    font-size: 3rem;
    color: #000000;
    padding: 3.5rem 3.7rem;
    border-radius: 1rem;
    width: 115.1rem;
  }
  .auto-group-frn1-XU5 {
    height: 9.9rem;
    position: absolute;
    left: 29.4rem;
    display: flex;
    font-family: Visby CF, 'Source Sans Pro';
    border: solid 0.5rem #f4f3f3;
    box-sizing: border-box;
    padding: 3.5rem 3.8rem;
    border-radius: 1rem;
    font-size: 3rem;
    line-height: 0.9666666667;
    color: #000000;
    white-space: nowrap;
    width: 115.1rem;
    font-weight: 700;
    top: 123.4rem;
  }
  .auto-group-h99b-PFP {
    padding: 2.1rem 3.8rem 2rem 3.8rem;
    width: 115.1rem;
    position: absolute;
    left: 29.4rem;
    top: 109.8rem;
    border-radius: 1rem;
    box-sizing: border-box;
    height: 11.4rem;
    background-color: #f4f3f3;

    .select-flavour-thw {
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.5rem;
    }
    .required-prV {
      display: flex;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.16;
      color: #e59030;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-vk9s-kEM {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 1rem;
    padding: 4.15rem 12.8rem 4.25rem 12.6rem;
    width: 65rem;
    height: 11.4rem;
    left: 54.5rem;
    top: 255.7rem;
    box-sizing: border-box;

    .add-2-to-order-qmb {
      color: #ffffff;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 5.1rem;
      display: flex;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 0.8285714286;
      flex-shrink: 0;
    }
    .ellipse-27-NWd {
      width: 1rem;
      height: 1rem;
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 1.1rem 3.3rem 0rem 0rem;
    }
    .item-998-6Bj {
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 0.8285714286;
      color: #ffffff;
    }
  }
  .auto-group-6lnv-13o {
    height: 9.9rem;
    position: absolute;
    left: 29.4rem;
    box-sizing: border-box;
    padding: 3.5rem 4.6rem 3.5rem 3.8rem;
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 1rem;
    width: 115.1rem;
    top: 159.7rem;

    .hot-6L9 {
      line-height: 0.9666666667;
      color: #ffffff;
      margin-right: 98.9rem;
      display: flex;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3rem;
      font-weight: 700;
    }
    .vector-q2q {
      flex-shrink: 0;
      margin-top: 0.1rem;
      width: 3rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-f2wd-xNM {
    border: solid 0.5rem #f4f3f3;
    padding: 3.5rem 3.7rem;
    left: 29.4rem;
    top: 171.8rem;
    font-size: 3rem;
    position: absolute;
    color: #000000;
    font-family: Visby CF, 'Source Sans Pro';
    font-weight: 700;
    line-height: 0.9666666667;
    white-space: nowrap;
    border-radius: 1rem;
    box-sizing: border-box;
    width: 115.1rem;
    height: 9.9rem;
    display: flex;
  }
  .auto-group-lxxm-Rmj {
    position: absolute;
    font-weight: 700;
    box-sizing: border-box;
    font-size: 3rem;
    font-family: Visby CF, 'Source Sans Pro';
    height: 9.9rem;
    top: 183.9rem;
    line-height: 0.9666666667;
    color: #000000;
    white-space: nowrap;
    border: solid 0.5rem #f4f3f3;
    padding: 3.5rem 3.7rem;
    width: 115.1rem;
    left: 29.4rem;
    display: flex;
    border-radius: 1rem;
  }
  .grilled-chicken-6N5 {
    width: 13.4rem;
    position: absolute;
    font-size: 2rem;
    white-space: nowrap;
    height: 2.9rem;
    left: 6.6rem;
    top: 25.1rem;
    display: flex;
    font-weight: 700;
    line-height: 1.45;
    text-decoration-line: underline;
    color: #000000;
    font-family: Visby CF, 'Source Sans Pro';
  }
}
