
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.item-options-brh {
  width: 100%;
  height: 500rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-7td3-u6h {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: solid 0.5rem #f4f3f3;
    border-radius: 1rem;
    padding: 3.5rem 37.3rem 3.5rem 3.8rem;
    width: 115.1rem;
    height: 9.9rem;
    position: absolute;
    left: 29.4rem;
    top: 80.8rem;

    .peri-peri-chicken-yMT {
      margin-right: 37.9rem;
      font-weight: 700;
      font-family: Visby CF, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      font-size: 3rem;
      line-height: 0.9666666667;
      color: #000000;
      white-space: nowrap;
    }
    .item-200-UJD {
      flex-shrink: 0;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-iuzq-mHK {
    position: absolute;
    left: 29.4rem;
    top: 92.9rem;
    display: flex;
    align-items: center;
    padding: 3.5rem 37.3rem 3.5rem 3.7rem;
    width: 115.1rem;
    height: 9.9rem;
    border-radius: 1rem;
    box-sizing: border-box;
    border: solid 0.5rem #f4f3f3;

    .full-peri-peri-chicken-r3s {
      display: flex;
      font-weight: 700;
      line-height: 0.9666666667;
      flex-shrink: 0;
      margin-right: 37.3rem;
      font-size: 3rem;
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-400-Zys {
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
    }
  }
  .auto-group-d4sv-Uqw {
    align-items: flex-end;
    width: 137.9rem;
    height: 12.1rem;
    position: absolute;
    left: 6.6rem;
    top: 66.5rem;
    display: flex;

    .auto-group-ispw-o7X {
      row-gap: 1.7rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 13.5rem;
      height: 100%;

      .kids-meals-vxq {
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
      }
      .sides-sdB {
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
      }
      .drinks-2FB {
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
      }
    }
    .auto-group-qohb-N49 {
      background-color: #000000;
      border-radius: 1rem;
      flex-shrink: 0;
      margin-top: 2.2rem;
      box-sizing: border-box;
      padding: 3.5rem 5rem 3.5rem 3.8rem;
      display: flex;
      align-items: center;

      .peri-peri-chicken-sFo {
        white-space: nowrap;
        margin-right: 76.1rem;
        display: flex;
        font-size: 3rem;
        font-weight: 700;
        line-height: 0.9666666667;
        color: #ffffff;
        font-family: Visby CF, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .vector-Pzq {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 3rem;
        height: 2rem;
        object-fit: contain;
      }
    }
  }
  .copyrighter-section-vUy {
    height: 37.9rem;
    position: absolute;
    left: 17.9rem;
    top: 457.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 115.4rem;

    .auto-group-s6hf-Sy7 {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0rem 3.9rem 0.2rem;
      height: 27.6rem;
      display: flex;

      .group-9-NLy {
        margin-right: 18.1rem;
        width: 16.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .order-about-us-contact-us-main-dishes-suggest-a-restaurant-locations-K1K {
          font-size: 1.6rem;
          font-weight: 400;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
          width: 16.5rem;
          position: absolute;
          top: 3.6rem;
          line-height: 2.5;
          color: #5c6574;
          height: 24rem;
          left: 0;
        }
        .navigation-P1B {
          height: 4rem;
          left: 0;
          line-height: 3.3333333333;
          color: #101a24;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          width: 7.7rem;
          position: absolute;
          top: 0;
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      .group-12-tTj {
        margin-right: 18.3rem;
        width: 15.7rem;
        height: 23.6rem;
        position: relative;
        flex-shrink: 0;

        .partner-centre-partner-accessories-shop-support-tickets-add-your-restaurant-RiZ {
          width: 15.7rem;
          position: absolute;
          left: 0;
          top: 3.6rem;
          line-height: 2.5;
          font-family: Inter, 'Source Sans Pro';
          height: 20rem;
          font-size: 1.6rem;
          font-weight: 400;
          text-transform: capitalize;
          color: #5c6574;
        }
        .partners-resellers-7bP {
          position: absolute;
          font-size: 1.2rem;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          text-transform: uppercase;
          color: #101a24;
          white-space: nowrap;
          width: 14.5rem;
          height: 4rem;
          left: 0;
          top: 0;
          line-height: 3.3333333333;
        }
      }
      .group-10-Rc5 {
        position: relative;
        flex-shrink: 0;
        margin-right: 18.1rem;
        width: 16.5rem;
        height: 100%;

        .privacy-policy-cookie-policy-info-for-restaurants-faq-get-help-important-documents-aE5 {
          position: absolute;
          top: 3.6rem;
          font-size: 1.6rem;
          font-weight: 400;
          color: #5c6574;
          font-family: Inter, 'Source Sans Pro';
          height: 24rem;
          left: 0;
          line-height: 2.5;
          text-transform: capitalize;
          width: 16.5rem;
        }
        .support-ezd {
          height: 4rem;
          left: 0;
          font-size: 1.2rem;
          text-transform: uppercase;
          color: #101a24;
          width: 5.8rem;
          top: 0;
          font-weight: 700;
          line-height: 3.3333333333;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
        }
      }
      .group-11-Ai5 {
        width: 12rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .follow-us-K5B {
          font-weight: 700;
          color: #101a24;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.2rem 0rem;
          font-size: 1.2rem;
          line-height: 3.3333333333;
          text-transform: uppercase;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-j99j-2VP {
          column-gap: 1.6rem;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .facebook-f-xtq {
            width: 2.5rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
          }
          .instagram-W9f {
            width: 3.3rem;
            height: 3.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .twitter-rDX {
            flex-shrink: 0;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
    .line-2-afK {
      margin: 0rem 0.2rem 3.4rem 0rem;
      width: 115.2rem;
      height: 0.1rem;
      background-color: rgba(16, 26, 36, 0.1000000015);
      flex-shrink: 0;
    }
    .auto-group-mcth-JbK {
      margin: 0rem 0.1rem 0rem 0.2rem;
      width: calc(100% - 0.3rem);
      height: 2.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .copyright-DCV {
        flex-shrink: 0;
        margin-right: 55.6rem;
        height: 100%;
        display: flex;
        align-items: center;

        .copyright-symbol-svgrepo-com-1-N5P {
          margin: 0.2rem 1rem 0rem 0rem;
          width: 1.3rem;
          height: 1.2999rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tiffintom-ltd-all-rights-reserved-HCM {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.8125;
          color: #5c6574;
        }
      }
      .terms-of-service-privacy-policy-byj {
        line-height: 1.8125;
        color: #5c6574;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-vzxs-ja9 {
    align-items: flex-end;
    width: 138.6rem;
    height: 6.6rem;
    position: absolute;
    left: 5.9rem;
    top: 5.6rem;
    display: flex;

    .navigation-icon-TFF {
      margin-right: 3.4rem;
      box-sizing: border-box;
      cursor: pointer;
      overflow: hidden;
      row-gap: 1.5rem;
      flex-direction: column;
      flex-shrink: 0;
      padding: 1.5rem 0.65rem;
      position: relative;
      align-items: center;
      display: flex;
      border: solid 0 #000000;

      .vector-ZZB {
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 3.9rem;
      }
      .vector-iS5 {
        flex-shrink: 0;
        width: 3.9rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-spm {
        vertical-align: top;
        flex-shrink: 0;
        width: 3.9rem;
        height: 0;
        object-fit: contain;
      }
    }
    .tiffiniconwhite-2-Dtd {
      flex-shrink: 0;
      margin: 0rem 10.4rem 0.1rem 0rem;
      width: 4.5rem;
      height: 6.5rem;
      position: relative;
      background-size: 236.308% 293.763%;
      background-position: -0rem -11.5183rem;
      background-image: url('REPLACE_IMAGE:53a2c0c3a37908dd2edf904ec01e88c777ff9c21');
    }
    .auto-group-aw8q-hYu {
      box-sizing: border-box;
      padding: 1.4rem 3.35rem 1.3rem 2.9rem;
      display: flex;
      align-items: center;
      background-color: #f4f3f3;
      border-radius: 3rem;
      flex-shrink: 0;
      margin: 0.8rem 5.1rem 0rem 0rem;

      .map-pin-DGM {
        flex-shrink: 0;
        margin: 0.1rem 2.25rem 0rem 0rem;
        width: 1.8rem;
        height: 2.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ws1-4ba-LLy {
        justify-content: center;
        font-size: 2rem;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-weight: 700;
        line-height: 1.45;
        flex-shrink: 0;
      }
    }
    .auto-group-uvff-Ex9 {
      background-color: #f4f3f3;
      border-radius: 3rem;
      flex-shrink: 0;
      margin: 0.8rem 26.6rem 0rem 0rem;
      box-sizing: border-box;
      padding: 1.4rem 3.95rem 1.3rem 2.6rem;
      display: flex;
      align-items: center;

      .search-xNM {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 2.85rem 0rem 0rem;
        width: 1.8rem;
        height: 1.8rem;
        position: relative;
      }
      .search-restaurant-or-cuisine-V7P {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        line-height: 1.6111111111;
        color: #8b8f8f;
        font-weight: 600;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .log-in-button-zK3 {
      margin: 0.8rem 2rem 0rem 0rem;
      box-sizing: border-box;
      padding: 1.2rem 3.1rem 1.5rem 1.825rem;
      display: flex;
      align-items: center;
      background-color: #f4f3f3;
      border-radius: 1rem;
      flex-shrink: 0;

      .person-1-ugu {
        margin: 0.3rem 3.225rem 0rem 0rem;
        width: 1.75rem;
        height: 2.25rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .log-in-c5X {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
      }
    }
    .sign-up-button-ieM {
      border-radius: 1rem;
      flex-shrink: 0;
      margin-top: 0.8rem;
      box-sizing: border-box;
      padding: 1.2rem 2.55rem 1.1rem 1.2rem;
      display: flex;
      align-items: center;
      background-color: #f4f3f3;

      .chevron-up-SaM {
        margin-right: 1.8026rem;
        width: 2.8474rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .sign-up-y4V {
        display: flex;
        align-items: center;
        line-height: 1.45;
        color: #000000;
        margin-bottom: 0.4rem;
        justify-content: center;
        font-size: 2rem;
        font-weight: 600;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-zcwd-fT7 {
    left: 6.6rem;
    top: 29.3rem;
    display: flex;
    align-items: center;
    width: 137.9rem;
    height: 21.7rem;
    position: absolute;

    .auto-group-qxyo-apy {
      margin: 0.4rem 10.8rem 0rem 0rem;
      row-gap: 1.7rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .pizzas-Jky {
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .fried-chicken-FgD {
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
      }
      .vegetarian-CLZ {
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
      }
      .burgers-wJ9 {
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .wraps-gmX {
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
      }
    }
    .auto-group-84g9-2aV {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3rem 42.1rem 4.4rem 0rem;
      height: calc(100% - 7.4rem);
      row-gap: 2.8rem;

      .peri-peri-chicken-9f7 {
        font-weight: 700;
        line-height: 0.725;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 4rem;
      }
      .item-449-gf3 {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 3rem;
        font-weight: 600;
        line-height: 0.9666666667;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
      }
      .x-pearls-classic-peri-peri-chicken-wings-RMj {
        font-size: 2.5rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.3rem;
        display: flex;
        font-weight: 600;
        line-height: 1.16;
        color: #8b8f8f;
        font-family: Visby CF, 'Source Sans Pro';
      }
    }
    .image-19-81F {
      width: 29rem;
      height: 20.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
    }
  }
  .quantity-eEV {
    width: 11.4rem;
    height: 2.9rem;
    top: 240.4rem;
    display: flex;
    font-size: 3rem;
    position: absolute;
    left: 81rem;
    font-weight: 600;
    line-height: 0.9666666667;
    color: #000000;
    font-family: Visby CF, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-se25-koK {
    position: absolute;
    left: 6.6rem;
    top: 18rem;
    display: flex;
    align-items: center;
    width: 137.9rem;
    height: 5.6rem;

    .auto-group-edub-gws {
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.4rem 65.7rem 1.3rem 0rem;
      height: 100%;
      display: flex;

      .menu-RPf {
        margin-right: 16.9rem;
        display: flex;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 1.16;
        white-space: nowrap;
      }
      .back-arrow-wso {
        margin: 0.483rem 2.2rem 0rem 0rem;
        width: 3.2rem;
        height: 1.9833rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .back-to-menu-G9P {
        flex-shrink: 0;
        display: flex;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.16;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .log-in-button-bSZ {
      height: 100%;
      border-radius: 3rem;
      box-sizing: border-box;
      padding: 1.3rem 2.2rem 1.3rem 2.313rem;
      background-color: #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      display: flex;
      align-items: center;

      .shopping-cart-KdT {
        margin: 0.1rem 1.976rem 0rem 0rem;
        width: 2.4768rem;
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .basket-efj {
        font-weight: 600;
        color: #ffffff;
        white-space: nowrap;
        margin: 0rem 1.235rem 0.1rem 0rem;
        align-items: center;
        font-size: 2rem;
        font-family: Visby CF, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        line-height: 1.45;
      }
      .ellipse-15-Ae5 {
        margin: 0.6rem 1.3rem 0rem 0rem;
        width: 0.4rem;
        height: 0.4rem;
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.2rem;
        flex-shrink: 0;
      }
      .item-4-Gh7 {
        justify-content: center;
        line-height: 1.45;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 1.3rem 0rem 0rem;
        align-items: center;
        font-size: 2rem;
        font-weight: 600;
        color: #ffffff;
        font-family: Visby CF, 'Source Sans Pro';
        display: flex;
      }
      .ellipse-49-axh {
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.2rem;
        flex-shrink: 0;
        margin: 0.6rem 1.4rem 0rem 0rem;
        width: 0.4rem;
        height: 0.4rem;
      }
      .item-1496-tiV {
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        display: flex;
        font-size: 2rem;
        line-height: 1.45;
        color: #ffffff;
      }
    }
  }
  .auto-group-e8py-Ag1 {
    column-gap: 2.2rem;
    align-items: flex-start;
    width: 12.7rem;
    height: 3.25rem;
    position: absolute;
    left: 80.6rem;
    top: 246.75rem;
    display: flex;

    .auto-group-vdfw-geM {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.05rem;
      width: 3.2rem;
      height: 3.2rem;
    }
    .item-1-pVf {
      line-height: 0.8285714286;
      color: #000000;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.5rem;
      font-weight: 700;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-fbht-xbs {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.05rem;
      width: 3.2rem;
      height: 3.2rem;
    }
  }
  .auto-group-1rxh-6TB {
    align-items: flex-end;
    width: 137.9rem;
    height: 13.8rem;
    position: absolute;
    left: 6.6rem;
    top: 52.7rem;
    display: flex;

    .auto-group-65az-2Lq {
      margin: 0rem 12.9rem 1.7rem 0rem;
      row-gap: 1.7rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .mixed-grill-Me1 {
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
      }
      .fresh-naan-u9j {
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.45;
      }
      .value-box-r4y {
        font-weight: 700;
        line-height: 1.45;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
      }
    }
    .auto-group-1c4h-bHT {
      padding: 2.1rem 3.8rem 2rem 3.8rem;
      width: 115.1rem;
      background-color: #f4f3f3;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .select-size-KDT {
        white-space: nowrap;
        margin-bottom: 1.5rem;
        display: flex;
        font-size: 3rem;
        font-weight: 700;
        line-height: 0.9666666667;
        color: #000000;
        font-family: Visby CF, 'Source Sans Pro';
      }
      .required-3v9 {
        white-space: nowrap;
        display: flex;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.16;
        color: #e59030;
        font-family: Visby CF, 'Source Sans Pro';
      }
    }
  }
  .auto-group-j3ox-nMw {
    box-sizing: border-box;
    padding: 3.5rem 37.3rem 3.5rem 3.8rem;
    width: 115.1rem;
    height: 9.9rem;
    position: absolute;
    display: flex;
    align-items: center;
    border: solid 0.5rem #f4f3f3;
    left: 29.4rem;
    top: 226.5rem;
    border-radius: 1rem;

    .meal-HJh {
      font-family: Visby CF, 'Source Sans Pro';
      display: flex;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 58.8rem;
      font-size: 3rem;
      line-height: 0.9666666667;
    }
    .item-249-c65 {
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
      color: #000000;
    }
  }
  .auto-group-yweh-KFP {
    box-sizing: border-box;
    padding: 3.5rem 3.8rem;
    line-height: 0.9666666667;
    position: absolute;
    font-weight: 700;
    white-space: nowrap;
    border: solid 0.5rem #f4f3f3;
    border-radius: 1rem;
    height: 9.9rem;
    left: 29.4rem;
    top: 214.4rem;
    display: flex;
    color: #000000;
    width: 115.1rem;
    font-size: 3rem;
    font-family: Visby CF, 'Source Sans Pro';
  }
  .auto-group-jshw-yKw {
    padding: 2.1rem 3.8rem 2rem 3.8rem;
    position: absolute;
    border-radius: 1rem;
    background-color: #f4f3f3;
    box-sizing: border-box;
    width: 115.1rem;
    height: 11.4rem;
    left: 29.4rem;
    top: 200.8rem;

    .select-meal-gVF {
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.5rem;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
    }
    .required-RSq {
      font-weight: 700;
      line-height: 1.16;
      color: #e59030;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-size: 2.5rem;
    }
  }
  .auto-group-smez-9dj {
    line-height: 0.9666666667;
    font-family: Visby CF, 'Source Sans Pro';
    left: 29.4rem;
    height: 9.9rem;
    font-weight: 700;
    width: 115.1rem;
    position: absolute;
    font-size: 3rem;
    color: #000000;
    border-radius: 1rem;
    box-sizing: border-box;
    top: 135.5rem;
    display: flex;
    white-space: nowrap;
    border: solid 0.5rem #f4f3f3;
    padding: 3.5rem 3.8rem;
  }
  .auto-group-hep9-cXK {
    box-sizing: border-box;
    width: 115.1rem;
    font-weight: 700;
    line-height: 0.9666666667;
    font-family: Visby CF, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.5rem #f4f3f3;
    position: absolute;
    padding: 3.5rem 3.7rem;
    top: 147.6rem;
    font-size: 3rem;
    height: 9.9rem;
    left: 29.4rem;
    display: flex;
    color: #000000;
    border-radius: 1rem;
  }
  .auto-group-brho-UZX {
    padding: 3.5rem 3.8rem;
    position: absolute;
    top: 123.4rem;
    left: 29.4rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 0.9666666667;
    box-sizing: border-box;
    height: 9.9rem;
    display: flex;
    color: #000000;
    border-radius: 1rem;
    width: 115.1rem;
    font-family: Visby CF, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.5rem #f4f3f3;
  }
  .auto-group-jn33-k1F {
    left: 29.4rem;
    background-color: #f4f3f3;
    border-radius: 1rem;
    width: 115.1rem;
    height: 11.4rem;
    position: absolute;
    box-sizing: border-box;
    padding: 2.1rem 3.8rem 2rem 3.8rem;
    top: 109.8rem;

    .select-flavour-RNH {
      margin-bottom: 1.5rem;
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
      color: #000000;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
    }
    .required-wrR {
      font-weight: 700;
      line-height: 1.16;
      color: #e59030;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-size: 2.5rem;
    }
  }
  .auto-group-ahfo-sEH {
    position: absolute;
    top: 255.7rem;
    align-items: center;
    background-color: #f4f3f3;
    box-sizing: border-box;
    padding: 4.15rem 12.8rem 4.25rem 12.6rem;
    width: 65rem;
    height: 11.4rem;
    left: 54.5rem;
    display: flex;
    border-radius: 1rem;

    .add-1-to-order-ZN1 {
      margin-right: 5.1rem;
      display: flex;
      font-weight: 700;
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.5rem;
      line-height: 0.8285714286;
      color: #8b8f8f;
    }
    .ellipse-27-Hoo {
      margin: 1.1rem 3.3rem 0rem 0rem;
      width: 1rem;
      height: 1rem;
      background-color: #8b8f8f;
      border-radius: 0.5rem;
      flex-shrink: 0;
    }
    .item-449-QtR {
      font-family: Visby CF, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 0.8285714286;
      color: #8b8f8f;
    }
  }
  .auto-group-j8ed-8ZX {
    box-sizing: border-box;
    height: 9.9rem;
    left: 29.4rem;
    background-color: #000000;
    border-radius: 1rem;
    padding: 3.5rem 4.6rem 3.5rem 3.8rem;
    width: 115.1rem;
    position: absolute;
    top: 159.7rem;
    display: flex;
    align-items: center;

    .hot-dWH {
      display: flex;
      font-size: 3rem;
      font-weight: 700;
      line-height: 0.9666666667;
      white-space: nowrap;
      margin-right: 98.9rem;
      color: #ffffff;
      font-family: Visby CF, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .vector-kqo {
      margin-top: 0.1rem;
      width: 3rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-fpxt-5t5 {
    left: 29.4rem;
    white-space: nowrap;
    box-sizing: border-box;
    width: 115.1rem;
    height: 9.9rem;
    top: 171.8rem;
    font-weight: 700;
    color: #000000;
    font-family: Visby CF, 'Source Sans Pro';
    border-radius: 1rem;
    position: absolute;
    font-size: 3rem;
    line-height: 0.9666666667;
    padding: 3.5rem 3.7rem;
    display: flex;
    border: solid 0.5rem #f4f3f3;
  }
  .auto-group-sxrs-Mah {
    font-size: 3rem;
    font-weight: 700;
    line-height: 0.9666666667;
    box-sizing: border-box;
    padding: 3.5rem 3.7rem;
    height: 9.9rem;
    top: 183.9rem;
    border-radius: 1rem;
    font-family: Visby CF, 'Source Sans Pro';
    white-space: nowrap;
    width: 115.1rem;
    display: flex;
    color: #000000;
    position: absolute;
    left: 29.4rem;
    border: solid 0.5rem #f4f3f3;
  }
  .grilled-chicken-1v9 {
    height: 2.9rem;
    left: 6.6rem;
    top: 25.1rem;
    font-weight: 700;
    text-decoration-line: underline;
    font-family: Visby CF, 'Source Sans Pro';
    white-space: nowrap;
    width: 13.4rem;
    position: absolute;
    display: flex;
    font-size: 2rem;
    line-height: 1.45;
    color: #000000;
  }
}
