
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.item-options-2-Ls3 {
  width: 100%;
  height: 500rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.item-options-2-Ls3 .auto-group-kqph-rKb {
  box-sizing: border-box;
  padding: 3.5rem 37.3rem 3.5rem 3.8rem;
  width: 115.1rem;
  height: 9.9rem;
  position: absolute;
  left: 29.4rem;
  top: 80.8rem;
  display: flex;
  align-items: center;
  border: solid 0.5rem #f4f3f3;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-kqph-rKb .peri-peri-chicken-jeH {
  margin-right: 37.9rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-kqph-rKb .item-200-qBX {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-hgbb-XKF {
  box-sizing: border-box;
  padding: 3.5rem 37.3rem 3.5rem 3.7rem;
  width: 115.1rem;
  height: 9.9rem;
  position: absolute;
  left: 29.4rem;
  top: 92.9rem;
  display: flex;
  align-items: center;
  border: solid 0.5rem #f4f3f3;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-hgbb-XKF .full-peri-peri-chicken-R9j {
  margin-right: 37.3rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-hgbb-XKF .item-400-95j {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-yqgz-rVw {
  width: 137.9rem;
  height: 12.1rem;
  position: absolute;
  left: 6.6rem;
  top: 66.5rem;
  display: flex;
  align-items: flex-end;
}
.item-options-2-Ls3 .auto-group-yqgz-rVw .auto-group-q1n9-mso {
  margin-right: 13.5rem;
  height: 100%;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-yqgz-rVw .auto-group-q1n9-mso .kids-meals-uz1 {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-yqgz-rVw .auto-group-q1n9-mso .sides-fCV {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-yqgz-rVw .auto-group-q1n9-mso .drinks-oJh {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-yqgz-rVw .auto-group-kygh-8rm {
  margin-top: 2.2rem;
  box-sizing: border-box;
  padding: 3.5rem 5rem 3.5rem 3.8rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-yqgz-rVw .auto-group-kygh-8rm .peri-peri-chicken-TPF {
  margin-right: 76.1rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #ffffff;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-yqgz-rVw .auto-group-kygh-8rm .vector-nRX {
  margin-bottom: 0.1rem;
  width: 3rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX {
  width: 115.4rem;
  height: 37.9rem;
  position: absolute;
  left: 17.9rem;
  top: 457.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 {
  margin: 0rem 0rem 3.9rem 0.2rem;
  height: 27.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-9-M7F {
  margin-right: 18.1rem;
  width: 16.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-9-M7F .order-about-us-contact-us-main-dishes-suggest-a-restaurant-locations-64q {
  width: 16.5rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 3.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5;
  text-transform: capitalize;
  color: #5c6574;
  font-family: Inter, 'Source Sans Pro';
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-9-M7F .navigation-NY9 {
  width: 7.7rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3.3333333333;
  text-transform: uppercase;
  color: #101a24;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-12-tWV {
  margin-right: 18.3rem;
  width: 15.7rem;
  height: 23.6rem;
  position: relative;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-12-tWV .partner-centre-partner-accessories-shop-support-tickets-add-your-restaurant-qAq {
  width: 15.7rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 3.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5;
  text-transform: capitalize;
  color: #5c6574;
  font-family: Inter, 'Source Sans Pro';
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-12-tWV .partners-resellers-Kbo {
  width: 14.5rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3.3333333333;
  text-transform: uppercase;
  color: #101a24;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-10-qq3 {
  margin-right: 18.1rem;
  width: 16.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-10-qq3 .privacy-policy-cookie-policy-info-for-restaurants-faq-get-help-important-documents-PrZ {
  width: 16.5rem;
  height: 24rem;
  position: absolute;
  left: 0;
  top: 3.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5;
  text-transform: capitalize;
  color: #5c6574;
  font-family: Inter, 'Source Sans Pro';
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-10-qq3 .support-tHX {
  width: 5.8rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3.3333333333;
  text-transform: uppercase;
  color: #101a24;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-11-bBw {
  width: 12rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-11-bBw .follow-us-wmb {
  margin: 0rem 0.1rem 0.2rem 0rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3.3333333333;
  text-transform: uppercase;
  color: #101a24;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-11-bBw .auto-group-prvj-G3B {
  width: 100%;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-11-bBw .auto-group-prvj-G3B .facebook-f-ooo {
  margin-bottom: 0.2rem;
  width: 2.5rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-11-bBw .auto-group-prvj-G3B .instagram-LYq {
  width: 3.3rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-zxs3-pt1 .group-11-bBw .auto-group-prvj-G3B .twitter-GSV {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .line-2-bUm {
  margin: 0rem 0.2rem 3.4rem 0rem;
  width: 115.2rem;
  height: 0.1rem;
  background-color: rgba(16, 26, 36, 0.1000000015);
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-bjjd-KQm {
  margin: 0rem 0.1rem 0rem 0.2rem;
  width: calc(100% - 0.3rem);
  height: 2.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-bjjd-KQm .copyright-dwF {
  margin-right: 55.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-bjjd-KQm .copyright-dwF .copyright-symbol-svgrepo-com-1-np9 {
  margin: 0.2rem 1rem 0rem 0rem;
  width: 1.3rem;
  height: 1.2999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-bjjd-KQm .copyright-dwF .tiffintom-ltd-all-rights-reserved-75j {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8125;
  color: #5c6574;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .copyrighter-section-WMX .auto-group-bjjd-KQm .terms-of-service-privacy-policy-q1j {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8125;
  color: #5c6574;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy {
  width: 138.6rem;
  height: 6.6rem;
  position: absolute;
  left: 5.9rem;
  top: 5.6rem;
  display: flex;
  align-items: flex-end;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .navigation-icon-U4h {
  margin-right: 3.4rem;
  box-sizing: border-box;
  padding: 1.5rem 0.65rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0 #000000;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .navigation-icon-U4h .vector-Ay7 {
  width: 3.9rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .navigation-icon-U4h .vector-xe5 {
  width: 3.9rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .navigation-icon-U4h .vector-Jxq {
  width: 3.9rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .tiffiniconwhite-2-rzM {
  margin: 0rem 10.4rem 0.1rem 0rem;
  width: 4.5rem;
  height: 6.5rem;
  position: relative;
  background-size: 236.308% 293.763%;
  background-position: -0rem -11.5183rem;
  background-image: url('../assets/tiffiniconwhite-2-2k9.png');
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .auto-group-egcq-MAR {
  margin: 0.8rem 5.1rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 3.35rem 1.3rem 2.9rem;
  display: flex;
  align-items: center;
  background-color: #f4f3f3;
  border-radius: 3rem;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .auto-group-egcq-MAR .map-pin-rss {
  margin: 0.1rem 2.25rem 0rem 0rem;
  width: 1.8rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .auto-group-egcq-MAR .ws1-4ba-zUH {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .auto-group-u1f7-Jjs {
  margin: 0.8rem 26.6rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 3.95rem 1.3rem 2.6rem;
  display: flex;
  align-items: center;
  background-color: #f4f3f3;
  border-radius: 3rem;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .auto-group-u1f7-Jjs .search-1uB {
  margin: 0.1rem 2.85rem 0rem 0rem;
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .auto-group-u1f7-Jjs .search-restaurant-or-cuisine-Y8R {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6111111111;
  color: #8b8f8f;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .log-in-button-ex9 {
  margin: 0.8rem 2rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.2rem 3.1rem 1.5rem 1.825rem;
  display: flex;
  align-items: center;
  background-color: #f4f3f3;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .log-in-button-ex9 .person-1-xhw {
  margin: 0.3rem 3.225rem 0rem 0rem;
  width: 1.75rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .log-in-button-ex9 .log-in-fcM {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .sign-up-button-nS5 {
  margin-top: 0.8rem;
  box-sizing: border-box;
  padding: 1.2rem 2.55rem 1.1rem 1.2rem;
  display: flex;
  align-items: center;
  background-color: #f4f3f3;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .sign-up-button-nS5 .chevron-up-JfK {
  margin-right: 1.8026rem;
  width: 2.8474rem;
  height: 3.3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-dlmf-MEy .sign-up-button-nS5 .sign-up-SFj {
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-ektq-Xny {
  width: 137.9rem;
  height: 21.7rem;
  position: absolute;
  left: 6.6rem;
  top: 29.3rem;
  display: flex;
  align-items: center;
}
.item-options-2-Ls3 .auto-group-ektq-Xny .auto-group-7hhb-Tgd {
  margin: 0.4rem 10.8rem 0rem 0rem;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-ektq-Xny .auto-group-7hhb-Tgd .pizzas-BsX {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-ektq-Xny .auto-group-7hhb-Tgd .fried-chicken-825 {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-ektq-Xny .auto-group-7hhb-Tgd .vegetarian-G8H {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-ektq-Xny .auto-group-7hhb-Tgd .burgers-QVP {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-ektq-Xny .auto-group-7hhb-Tgd .wraps-MfX {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-ektq-Xny .auto-group-uq6d-uBF {
  margin: 3rem 42.1rem 4.4rem 0rem;
  height: calc(100% - 7.4rem);
  row-gap: 2.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-ektq-Xny .auto-group-uq6d-uBF .peri-peri-chicken-d7F {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.725;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-ektq-Xny .auto-group-uq6d-uBF .item-449-mDT {
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-ektq-Xny .auto-group-uq6d-uBF .x-pearls-classic-peri-peri-chicken-wings-u4m {
  margin-left: 0.3rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.16;
  color: #8b8f8f;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-ektq-Xny .image-19-QXK {
  margin-bottom: 1.4rem;
  width: 29rem;
  height: 20.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item-options-2-Ls3 .quantity-LQy {
  width: 11.4rem;
  height: 2.9rem;
  position: absolute;
  left: 81rem;
  top: 240.4rem;
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH {
  width: 137.9rem;
  height: 5.6rem;
  position: absolute;
  left: 6.6rem;
  top: 18rem;
  display: flex;
  align-items: center;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH .auto-group-xxxy-nGy {
  box-sizing: border-box;
  padding: 1.4rem 65.7rem 1.3rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH .auto-group-xxxy-nGy .menu-usP {
  margin-right: 16.9rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.16;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH .auto-group-xxxy-nGy .back-arrow-qW9 {
  margin: 0.483rem 2.2rem 0rem 0rem;
  width: 3.2rem;
  height: 1.9833rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH .auto-group-xxxy-nGy .back-to-menu-xKs {
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.16;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH .log-in-button-hHT {
  box-sizing: border-box;
  padding: 1.3rem 2.2rem 1.3rem 2.313rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 3rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH .log-in-button-hHT .shopping-cart-cfK {
  margin: 0.1rem 1.976rem 0rem 0rem;
  width: 2.4768rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH .log-in-button-hHT .basket-LLR {
  margin: 0rem 1.235rem 0.1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.45;
  color: #ffffff;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH .log-in-button-hHT .ellipse-15-41X {
  margin: 0.6rem 1.3rem 0rem 0rem;
  width: 0.4rem;
  height: 0.4rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH .log-in-button-hHT .item-4-xch {
  margin: 0.1rem 1.3rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.45;
  color: #ffffff;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH .log-in-button-hHT .ellipse-49-UL9 {
  margin: 0.6rem 1.4rem 0rem 0rem;
  width: 0.4rem;
  height: 0.4rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-3zvq-3aH .log-in-button-hHT .item-1496-NRX {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.45;
  color: #ffffff;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-cvtr-SwB {
  width: 12.7rem;
  height: 3.25rem;
  position: absolute;
  left: 80.6rem;
  top: 246.75rem;
  display: flex;
  column-gap: 2.2rem;
  align-items: flex-start;
}
.item-options-2-Ls3 .auto-group-cvtr-SwB .auto-group-l2am-toB {
  margin-top: 0.05rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-cvtr-SwB .item-2-pgq {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 0.8285714286;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-cvtr-SwB .auto-group-epgd-9z1 {
  margin-top: 0.05rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-gzq7-6PT {
  width: 137.9rem;
  height: 13.8rem;
  position: absolute;
  left: 6.6rem;
  top: 52.7rem;
  display: flex;
  align-items: flex-end;
}
.item-options-2-Ls3 .auto-group-gzq7-6PT .auto-group-cpp9-2H7 {
  margin: 0rem 12.9rem 1.7rem 0rem;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-gzq7-6PT .auto-group-cpp9-2H7 .mixed-grill-9cd {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-gzq7-6PT .auto-group-cpp9-2H7 .fresh-naan-Hiq {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-gzq7-6PT .auto-group-cpp9-2H7 .value-box-Rq3 {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-gzq7-6PT .auto-group-mxqz-yLm {
  box-sizing: border-box;
  padding: 2.1rem 3.8rem 2rem 3.8rem;
  width: 115.1rem;
  background-color: #f4f3f3;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-gzq7-6PT .auto-group-mxqz-yLm .select-size-6RP {
  margin-bottom: 1.5rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
}
.item-options-2-Ls3 .auto-group-gzq7-6PT .auto-group-mxqz-yLm .required-RyT {
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.16;
  color: #e59030;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
}
.item-options-2-Ls3 .auto-group-uqc5-kkq {
  box-sizing: border-box;
  padding: 3.5rem 37.3rem 3.5rem 3.8rem;
  width: 115.1rem;
  height: 9.9rem;
  position: absolute;
  left: 29.4rem;
  top: 226.5rem;
  display: flex;
  align-items: center;
  border: solid 0.5rem #f4f3f3;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-uqc5-kkq .meal-TQM {
  margin-right: 58.8rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-uqc5-kkq .item-249-mvq {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-hxrh-h3o {
  box-sizing: border-box;
  padding: 3.5rem 4.6rem 3.5rem 3.8rem;
  width: 115.1rem;
  height: 9.9rem;
  position: absolute;
  left: 29.4rem;
  top: 214.4rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-hxrh-h3o .single-PxD {
  margin-right: 95.4rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #ffffff;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-hxrh-h3o .vector-8eu {
  margin-top: 0.1rem;
  width: 3rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-e3gd-GFK {
  box-sizing: border-box;
  padding: 2.1rem 3.8rem 2rem 3.8rem;
  width: 115.1rem;
  height: 11.4rem;
  position: absolute;
  left: 29.4rem;
  top: 200.8rem;
  background-color: #f4f3f3;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-e3gd-GFK .select-meal-Np9 {
  margin-bottom: 1.5rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
}
.item-options-2-Ls3 .auto-group-e3gd-GFK .required-7Fw {
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.16;
  color: #e59030;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
}
.item-options-2-Ls3 .auto-group-uktp-qBw {
  box-sizing: border-box;
  padding: 3.5rem 3.8rem;
  width: 115.1rem;
  height: 9.9rem;
  position: absolute;
  left: 29.4rem;
  top: 135.5rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.5rem #f4f3f3;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-g2mo-tR7 {
  box-sizing: border-box;
  padding: 3.5rem 3.7rem;
  width: 115.1rem;
  height: 9.9rem;
  position: absolute;
  left: 29.4rem;
  top: 147.6rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.5rem #f4f3f3;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-frn1-XU5 {
  box-sizing: border-box;
  padding: 3.5rem 3.8rem;
  width: 115.1rem;
  height: 9.9rem;
  position: absolute;
  left: 29.4rem;
  top: 123.4rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.5rem #f4f3f3;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-h99b-PFP {
  box-sizing: border-box;
  padding: 2.1rem 3.8rem 2rem 3.8rem;
  width: 115.1rem;
  height: 11.4rem;
  position: absolute;
  left: 29.4rem;
  top: 109.8rem;
  background-color: #f4f3f3;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-h99b-PFP .select-flavour-thw {
  margin-bottom: 1.5rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
}
.item-options-2-Ls3 .auto-group-h99b-PFP .required-prV {
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.16;
  color: #e59030;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
}
.item-options-2-Ls3 .auto-group-vk9s-kEM {
  box-sizing: border-box;
  padding: 4.15rem 12.8rem 4.25rem 12.6rem;
  width: 65rem;
  height: 11.4rem;
  position: absolute;
  left: 54.5rem;
  top: 255.7rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-vk9s-kEM .add-2-to-order-qmb {
  margin-right: 5.1rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 0.8285714286;
  color: #ffffff;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-vk9s-kEM .ellipse-27-NWd {
  margin: 1.1rem 3.3rem 0rem 0rem;
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-vk9s-kEM .item-998-6Bj {
  display: flex;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 0.8285714286;
  color: #ffffff;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-6lnv-13o {
  box-sizing: border-box;
  padding: 3.5rem 4.6rem 3.5rem 3.8rem;
  width: 115.1rem;
  height: 9.9rem;
  position: absolute;
  left: 29.4rem;
  top: 159.7rem;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-6lnv-13o .hot-6L9 {
  margin-right: 98.9rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #ffffff;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-6lnv-13o .vector-q2q {
  margin-top: 0.1rem;
  width: 3rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-options-2-Ls3 .auto-group-f2wd-xNM {
  box-sizing: border-box;
  padding: 3.5rem 3.7rem;
  width: 115.1rem;
  height: 9.9rem;
  position: absolute;
  left: 29.4rem;
  top: 171.8rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.5rem #f4f3f3;
  border-radius: 1rem;
}
.item-options-2-Ls3 .auto-group-lxxm-Rmj {
  box-sizing: border-box;
  padding: 3.5rem 3.7rem;
  width: 115.1rem;
  height: 9.9rem;
  position: absolute;
  left: 29.4rem;
  top: 183.9rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9666666667;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.5rem #f4f3f3;
  border-radius: 1rem;
}
.item-options-2-Ls3 .grilled-chicken-6N5 {
  width: 13.4rem;
  height: 2.9rem;
  position: absolute;
  left: 6.6rem;
  top: 25.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.45;
  text-decoration-line: underline;
  color: #000000;
  font-family: Visby CF, 'Source Sans Pro';
  white-space: nowrap;
}
